*{
	margin:0;
}

p {
	font-family: 'Comic Neue', cursive;
	font-size: 20px;
}



.navbar{
	height:50px;
	position: fixed;
}



.carousel .item {
  height: 300px;  
  padding-top: 1.5em;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}


.fab{
	color:black;
}

.fas{
	color:black;
}

.box1{
	text-align:center;
	padding: 3em;
}


.python p{
	font-size:30px;
	font-family: 'Teko', sans-serif;
}
.pythonlogo{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  transition: transform .2s;
}

.pythonlogo:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.html p{
	font-size:30px;
	font-family: 'Teko', sans-serif;
}
.htmllogo{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  transition: transform .2s;
}

.htmllogo:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}


.container{
	padding-top:60px;
}
.container2{
	display:grid;
	padding: 20em;
	grid-gap:20px;
}
.container3{
	display:grid;
	padding: 4em;
	grid-gap:20px;
}
.container4{
	display:grid;
	padding-right: 200px;
	grid-row-gap: :20px;
	position: auto;
	text-align:right;
}




.box{
	  border-spacing:5em;
	  display: grid;
      grid-gap: 20px;
      grid-row-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      
   }
.box1 p{
	letter-spacing: 2px;
	font-size: 30px;
}
.box3 p {
	padding:1.5em;
}
.box3 h1{
	font-family: 'Quicksand', sans-serif;
}





.aboutme{
	padding:4em;
}

.myself{
	width:350px;
	height:250px;
	border-radius: 50%;
}


/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background:white;
  border-radius: 20px;
  padding:5em;
}

.centered p{
	padding:1.5em;
}





.socials{
	padding:5em;
	padding-bottom:5em;
	text-align:center;

}

.github{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  transition: transform .2s;
}

.github:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.linkedin{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  transition: transform .2s;
}

.linkedin:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.mail{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  transition: transform .2s;
}

.mail:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.phone{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  transition: transform .2s;
}

.phone:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.footer {
  padding:5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #bdf2ff;
  color: white;
  text-align: center;
}
